<!-- FOOTER -->
<footer>  
    <!-- CONTAINER -->
    <div class="container">
        
        <!-- ROW -->
        <div class="row">
        
            <a class="back_top" href="javascript:void(0);" ><i class="fa fa-chevron-up"></i></a>
            
            <div class="col-sm-4 footer_phone">
                <div class="col-md-6">
                    <p><i class="fa fa-phone"></i> +(91)8971170621</p>
                </div>
                <div class="col-md-6">
                    <a href="javascript:void(0);" ><i class="fa fa-envelope"></i> contact@ninjaas.com</a>
                </div>
            </div>
            
            <div class="col-sm-4 padbot30 center copyright">
                Ninjaas ©2014 All rights reserved.
            </div>
            
            <div class="col-sm-4 padbot30 right">
                <div class="social">
                    <a class="g_plus" href="https://plus.google.com/+Ninjaas" target="_blank"><i class="fa fa-google-plus"></i></a>
                    <a class="twitter" href="https://twitter.com/ninjaasdotcom" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a class="facebook" href="https://www.facebook.com/ninjaas" target="_blank"><i class="fa fa-facebook"></i></a>
                    
                </div>
            </div>
        </div><!-- //ROW -->
    </div><!-- //CONTAINER -->
</footer><!-- //FOOTER -->