<!-- FOOTER -->
<footer>
    <!-- CONTAINER -->
    <div class="container">

        <!-- ROW -->
        <div class="row">

            <a class="back_top" href="javascript:void(0);" ><i class="fa fa-chevron-up"></i></a>

            <div class="col-sm-4 padbot30 center copyright">
                <a href="http://gonnamake.com" target="_blank">Gonnamake</a> ©2012-15 All rights reserved.
            </div>

            <div class="col-sm-6 footer_phone">
                <div class="col-md-6">
                    <p><i class="fa fa-phone"></i> +(91) 9052500315</p>
                </div>
                <div class="col-md-6">
                    <a href="mail-to:contact@gonnamake.com" ><i class="fa fa-envelope"></i> contact@gonnamake.com</a>
                </div>
            </div>

            <div class="col-sm-2 padbot30 right">
                <div class="social">
                    <a class="twitter" href="https://twitter.com/gonnamakedotcom" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a class="facebook" href="https://www.facebook.com/gonnamake" target="_blank"><i class="fa fa-facebook"></i></a>
                </div>
            </div>
        </div><!-- //ROW -->
    </div><!-- //CONTAINER -->
</footer><!-- //FOOTER -->
