.comments_count
  color: red

#comments .avatar
  overflow: hidden
  margin: 3px 30px 0 0
  width: 70px
  height: 70px
  background-color: #ccc

#comments .avatar img
  width: 100%

.comment_right
  display: table

.comment_info
  padding-bottom: 11px

#comments .comment_author
  font-weight: 900
  font-size: 16px
  color: #333

#comments .comment_date,
#comments .comment_reply a
  color: #999
  text-transform: uppercase
  font-size: 12px
  font-weight: 900

#comments .comment_reply a:hover
  color: blue

#comments .comment_inf_sep
  padding: 0 12px
  font-size: 16px
  color: #ccc

#comments .comment_right p
  font-size: 12px

/* Comment Form */
.leave_comment
  padding: 24px 30px 30px
  background-color: #eaeaea

#comment_form textarea,
#comment_form input[type="text"]
  margin: 0 30px 30px 0
  padding: 20px
  width: 388px
  border-color: #fff
  text-transform: none
  font-size: 18px
  color: #999
  background-color: #fff

#comment_form input.last
  margin-right: 0

#comment_form textarea
  min-height: 180px
  width: 100%

#comment_form .contact_btn
  margin: 0
  background-color: blue
  color: #fff

#comment_form .contact_btn:hover
  background-color: red

.comment_note
  padding-top: 11px
  font-size: 12px