#contact
  padding: 0 100px

textarea,
input[type="text"]
  width: 100%
  margin: 30px 0 0
  padding: 20px
  text-transform: none
  font-family: 'Lato', sans-serif
  font-weight: 400
  line-height: 20px
  font-size: 18px
  color: #fff
  font-style: normal
  border-radius: 0
  background: rgba(0,0,0,0.15)
  border: 0
  box-shadow: none
  transition: all 0.3s ease-in-out
  -webkit-transition: all 0.3s ease-in-out

input#name
  margin-top: 0

textarea
  overflow: hidden
  min-height: 246px
  resize: none
  margin-top: 0

textarea:focus,
input:focus
  outline: 0
  box-shadow: none
  color: #333
  border: 0
  background-color: #fff

.contact_form label
  display: none
  margin: 5px 0 0
  font-weight: 400
  font-size: 12px
  color: #fff

.ie .contact_form label
  display: block

.contact_btn
  display: block
  cursor: pointer
  width: 270px
  margin: 50px auto 0
  padding: 20px 10px 21px
  border: 0
  border-radius: 4px
  box-shadow: 0
  text-shadow: none
  text-decoration: none
  text-transform: uppercase
  font-family: 'Lato', sans-serif
  font-weight: 900
  line-height: 20px
  font-size: 20px
  color: darken(blue,20%)
  background: white
  transition: all 0.3s ease-in-out
  -webkit-transition: all 0.3s ease-in-out

.contact_btn:hover
  background: darken(blue,20%)
  color: white
  border: 0

.contact_btn:focus
  border: 0
  background: red

.notification_error
  margin-bottom: -20px
  padding: 20px 0 0
  font-size: 15px
  color: #fff

.notification_ok
  margin: 30px 15px 0
  padding: 20px
  font-size: 15px
  color: #fff
  border: 2px solid #fff
  border-radius: 4px