
/* __________ customers logo __________ */
.client_logos_block
  margin: 0 -15px
  text-align: center

.client_logos_block .client_img
  display: table-cell
  margin: 0 12px 20px 15px
  transition: all 0.3s ease-in-out
  -webkit-transition: all 0.3s ease-in-out
  width: 25%
  img
    vertical-align: middle

.client_logos_block:hover .client_img
  opacity: 0.3

.client_logos_block .client_img:hover
  opacity: 1