
.fact_item i
  display: block
  width: 70px
  height: 70px
  margin: 0 auto 18px
  text-align: center
  line-height: 68px
  font-size: 64px
  color: rgba(0,0,0,0.15)
  transition: all 0.3s ease-in-out
  -webkit-transition: all 0.3s ease-in-out

.fact_item:hover i
  color: #fff

.fact_item p
  margin: 0
  line-height: 30px
  font-size: 28px
  color: #fff

.fact_item .count
  font-weight: 900
  line-height: 91px
  font-size: 80px
  color: #fff
