footer
  position: relative
  padding: 60px 0 20px
  color: #fff
  background-color: #333

footer .back_top
  position: absolute
  left: 50%
  top: -25px
  display: block
  width: 50px
  height: 50px
  margin-left: -25px
  font-family: FontAwesome
  text-align: center
  line-height: 44px
  font-size: 26px
  color: darken(blue,50%)
  background-color: blue
  border: 3px solid darken(blue,50%)
  transition: all 0.3s ease-in-out
  -webkit-transition: all 0.3s ease-in-out

.single_page footer .back_top
  background-color: #fff

footer .back_top:hover
  background-color: white
  color: lighten(blue,20%)
  border: 3px solid lighten(blue,20%)

footer .footer_phone
  padding-top: 20px

footer .footer_phone p
  display: inline-block
  margin: 1px 20px 0 0
  line-height: 20px
  font-size: 14px
  color: rgba(255,255,255,0.25)

footer .footer_phone a
  display: inline-block
  vertical-align: top
  line-height: 20px
  font-size: 14px
  color: rgba(255,255,255,0.25)

footer .footer_phone a:hover
  color: #fff

footer .copyright
  padding-top: 20px
  line-height: 20px
  font-size: 14px
  color: rgba(255,255,255,0.25)
