/*-----------------------------------------------------------------------------------*/
/*  GENERAL STYLING
/*-----------------------------------------------------------------------------------*/
::selection
  background: #000
  color: #fff

::-moz-selection
  background: #000
  color: #fff

body
  overflow-x: hidden
  position: relative
  margin: 0
  padding: 0
  font-family: 'Lato', sans-serif
  font-weight: 400
  font-size: 13px
  line-height: 20px
  color: #666
  background-color: #fff

.preloader_hide
  opacity: 0

#preloader
  position: fixed
  left: 50%
  top: 50%
  width: 32px
  height: 32px
  margin: -16px 0 0 -16px
  display: block

section
  padding-top: 60px
  background-color: #fff

.container
  padding-left: 0
  padding-right: 0

a,
input,
select,
textarea
  vertical-align: top
  outline: none !important
  -webkit-appearance: none
  -webkit-border-radius: 0

select:-moz-focusring
  color: transparent
  outline: none !important
  text-shadow: 0 0 0 #000 !important
  border: 0 !important

textarea
  resize: none

img
  outline: 0
  vertical-align: top
  border: 0
  max-width: 100.1%
  height: auto

a
  color: #999
  transition: all 0.3s ease-in-out
  -webkit-transition: all 0.3s ease-in-out

a:hover,
a:focus
  text-decoration: none
  color: #333

.margbot0
  margin-bottom: 0

.margbot5
  margin-bottom: 5px !important

.margbot10
  margin-bottom: 10px

.margbot20
  margin-bottom: 20px

.margbot25
  margin-bottom: 25px

.margbot30
  margin-bottom: 30px !important

.margbot40
  margin-bottom: 40px

.margbot50
  margin-bottom: 50px

.margbot60
  margin-bottom: 60px

.margbot70
  margin-bottom: 70px

.margbot80
  margin-bottom: 80px

.pad0
  padding: 0 !important

.padbot0
  padding-bottom: 0 !important

.padbot10
  padding-bottom: 10px !important

.padbot20
  padding-bottom: 20px !important

.padbot30
  padding-bottom: 30px !important

.padbot40
  padding-bottom: 40px !important

.padbot50
  padding-bottom: 50px !important

.padbot60
  padding-bottom: 60px !important

.padbot70
  padding-bottom: 70px !important

.padbot80
  padding-bottom: 80px !important

.padtop0
  padding-top: 0 !important