text-shadow(args...)
   -webkit-text-shadow args
   -moz-text-shadow args
   text-shadow args

.logo
  float: left
  padding: 10px 0px;
  img
    max-width: 12em
.logo a
  display: block
  font-family: "Lobster"
  color: #fff
  font-size: 4rem
  line-height: 1.2em
  &:hover
    text-shadow 1px 2px 5px #eee