.recent_posts_widget
  margin-bottom: 29px
  transition: opacity 0.3s ease-in-out
  -webkit-transition: opacity 0.3s ease-in-out

.widget_popular_posts:hover .recent_posts_widget
  opacity: 0.3

.widget_popular_posts .recent_posts_widget:hover
  opacity: 1

.post_item_img_widget
  overflow: hidden
  display: block
  width: 270px
  height: 190px
  margin-bottom: 14px

.post_item_img_widget img
  width: auto
  max-width: none
  height: 100%
  transition: opacity 0.3s ease-in-out
  -webkit-transition: opacity 0.3s ease-in-out

.post_item_content_widget .post_title
  display: block
  margin-bottom: 9px
  font-weight: 900
  line-height: 29px
  font-size: 24px
  color: #333

.recent_posts_widget:hover .post_title
  color: blue

.post_item_inf_widget li
  display: block
  font-weight: 900
  line-height: 20px
  font-size: 12px
  color: #999