@media screen and (-webkit-min-device-pixel-ratio:0)
  .parallax,
.cleancode_block,
#team,
.top_slider .slide1,
.top_slider .slide2,
.top_slider .slide3
    background-attachment: scroll !important
    background-position: 0 0

  .top_slider .slide1,
.top_slider .slide2,
.top_slider .slide3
    background-size: cover !important

@media (min-width: 992px) and (max-width: 1199px)
  .flexslider.top_slider .slides li
    background-attachment: scroll !important
    background-size: 100% auto !important
    -webkit-background-size: 100% auto !important
    background-position: 0 0 !important

  h2
    font-size: 35px
    line-height: 35px

  /* __________ Menu __________ */
  .navmenu ul li a
    padding-left: 15px
    padding-right: 15px

  /* __________ Index __________ */
  .jcarousel li
    width: 303px

  .jcarousel-control-prev
    margin-left: -485px

  .jcarousel-control-next
    margin-right: -485px

  .crewman_item .crewman_social a
    width: 40px
    height: 40px
    line-height: 38px

  .crewman_about
    font-size: 13px
    line-height: 20px

  #video_block
    padding: 180px 0
    height: 550px

  .price_item_cost
    width: 130px
    height: 130px

  .price_item_cost span
    font-size: 50px

  .price_item_text
    padding: 10px 5px

  .price_best:after
    width: 60px
    height: 60px

  /* __________ Blog __________ */
  .blog_post_slider,
.blog_post_video,
.blog_post_img
    width: 400px
    height: 315px

  .blog_post_title
    font-size: 24px
    line-height: 30px

  .blog_post_content
    font-size: 13px
    line-height: 20px

  #comment_form input[type="text"]
    width: 312px

  /* __________ Sidebar __________ */
  .widget_meta li a
    font-size: 17px
    line-height: 20px

  .post_item_img_widget
    width: 220px
    height: 146px

  .post_item_content_widget a.title
    font-size: 16px
    line-height: 20px

  /* __________ All Styles __________ */
@media (min-width: 768px) and (max-width: 991px)
  section .title
    font-size: 70px
    line-height: 70px

  /* __________ Menu __________ */
  .navmenu ul li a
    padding-left: 15px
    padding-right: 15px
    font-size: 13px

  /* __________ Index __________ */
  .services_item
    padding: 50px 10px 0

  .services_item i
    width: 100px
    height: 100px
    font-size: 50px
    line-height: 98px

  .services_item span
    font-size: 11px
    line-height: 17px

  .jcarousel li
    width: 230px

  .jcarousel-control-prev
    margin-left: -360px
    top: -112px

  .jcarousel-control-next
    margin-right: -360px
    top: -112px

  .work_item a.zoom
    padding: 10px 24px
    font-size: 13px

  .crewman_item .crewman_social a
    width: 40px
    height: 40px
    line-height: 38px

  .crewman_about
    font-size: 13px
    line-height: 20px

  .fact_item p
    font-size: 18px
    line-height: 20px

  .fact_item .count
    font-size: 56px
    line-height: 56px

  #video_block
    padding: 140px 0
    height: 430px

  .price_item_title
    font-size: 18px
    padding-bottom: 15px

  .price_item_cost
    width: 100px
    height: 100px
    font-size: 16px
    line-height: 90px

  .price_item_cost span
    font-size: 36px

  .price_item_text
    padding: 7px 5px
    font-size: 12px

  .price_item .btn_order
    font-size: 13px
    padding: 12px 5px

  .price_best:after
    width: 60px
    height: 60px

  .recent_posts
    width: 600px
    margin: 0 auto

  .view_all_posts
    width: 600px
    margin: 0 auto

  .responsive_clearfix
    clear: both

  #contact
    padding: 0 40px

  .social a
    width: 40px
    height: 40px
    line-height: 38px

  footer .copyright
    padding-top: 10px

  footer .footer_phone
    padding-top: 0

  /* __________ Blog __________ */
  .blog_post_slider,
.blog_post_video,
.blog_post_img
    width: 400px
    height: 315px

  .blog_post_title
    font-size: 24px
    line-height: 30px

  .blog_post_content
    font-size: 13px
    line-height: 20px

  #comment_form input[type="text"]
    width: 327px

  /* __________ Sidebar __________ */
  .widget_meta li a
    font-size: 17px
    line-height: 20px

  .post_item_img_widget
    width: 220px
    height: 146px
    float: left
    margin-right: 30px

  .post_item_content_widget a.title
    font-size: 16px
    line-height: 20px

  /* __________ All Styles __________ */
  .respond_clear
    clear: both
    height: 0
    font-size: 0

@media (max-width: 767px)
  .container
    padding-left: 15px
    padding-right: 15px

  section .title
    font-size: 60px
    line-height: 60px

  /* __________ Menu __________ */
  a.menu_toggler
    display: inline-block
    float: right
    margin: 20px 0 0 20px
    width: 40px
    height: 40px
    text-align: center
    line-height: 38px
    font-size: 23px
    color: white
    background-color: red

  a.menu_toggler:hover
    background-color: blue
    color: white

  .navmenu
    position: absolute
    left: 0
    right: 0
    top: 80px
    background-color: #fff

  .navmenu ul
    padding: 10px 0

  .navmenu ul li
    display: block
    text-align: left

  .navmenu ul li a
    padding: 4px 20px
    color: #333

  .navmenu ul li.active a,
.navmenu ul li a:hover
    color: blue !Important
    background: none !important

  .navmenu ul li a:before
    display: none

  /* __________ Index __________ */
  .services_item
    padding: 50px 10px 0

  .services_item i
    width: 100px
    height: 100px
    font-size: 50px
    line-height: 98px

  .services_item span
    font-size: 11px
    line-height: 17px

  .jcarousel-wrapper
    width: 450px
    margin: 0 auto
    padding: 0

  .jcarousel li
    width: 210px

  .jCarousel_pagination a
    top: -104px

  .jcarousel-control-prev
    margin-left: 0
    left: 15px

  .jcarousel-control-next
    margin-right: 0
    right: 15px

  .work_item a.zoom
    padding: 10px 24px
    font-size: 13px

  .work_item .work_description p
    font-size: 13px
    line-height: 17px

  .team_block
    width: 450px
    margin: 0 auto

  .crewman_item .crewman_social a
    width: 40px
    height: 40px
    line-height: 38px

  .crewman_about
    font-size: 13px
    line-height: 20px

  .fact_item i
    font-size: 50px
    width: 50px
    height: 50px
    line-height: 50px

  .fact_item p
    font-size: 12px
    line-height: 17px

  .fact_item .count
    font-size: 36px
    line-height: 36px

  #video_block
    padding: 110px 0
    height: 280px
    background-image: url(../images/video_block.png)
    background-size: 100% auto
    -webkit-background-size: 100% auto

  #video_block #wrapper_mbYTP_P2,
#video_block .title span,
#video_block .overlay
    display: none !important

  .price_wrapper
    width: 450px
    margin: 0 auto

  .price_item_title
    font-size: 18px
    padding-bottom: 15px

  .price_item_cost
    width: 100px
    height: 100px
    font-size: 16px
    line-height: 90px

  .price_item_cost span
    font-size: 36px

  .price_item_text
    padding: 7px 5px
    font-size: 12px

  .price_item .btn_order
    font-size: 13px
    padding: 12px 5px

  .price_best:after
    width: 60px
    height: 60px

  .recent_posts
    width: 450px
    margin: 0 auto

  .view_all_posts
    width: 450px
    margin: 0 auto

  .responsive_clearfix
    clear: both

  .post_item_content a.post_title
    font-size: 20px
    line-height: 24px

  .post_item_text
    font-size: 11px
    line-height: 16px

  #contact
    padding: 0

  .social
    text-align: center

  .social a
    width: 40px
    height: 40px
    line-height: 38px

  footer .copyright
    padding-top: 10px
    text-align: center

  footer .footer_phone
    padding-top: 0
    text-align: center

  /* __________ Blog __________ */
  .blog_post_slider,
.blog_post_video,
.blog_post_img
    width: 450px
    height: 315px
    float: none
    margin: 0 0 10px

  .blog_post_title
    font-size: 24px
    line-height: 30px

  .blog_post_content
    font-size: 13px
    line-height: 20px

  .pagination li
    width: 50px
    height: 50px

  .pagination li a
    font-size: 16px
    line-height: 48px

  .single_blog_post_title
    font-size: 26px
    line-height: 34px

  .single_blog_post_date
    margin-top: 5px

  /* __________ Single Blog Post __________ */
  /* __________ Sidebar __________ */
  .widget_meta li a
    font-size: 17px
    line-height: 20px

  .post_item_img_widget
    width: 220px
    height: 146px
    float: left
    margin-right: 30px

  .post_item_content_widget a.title
    font-size: 16px
    line-height: 20px

  /* __________ All Styles __________ */
@media (max-width: 479px)
  section .title
    font-size: 40px
    line-height: 40px

  /* __________ Index __________ */
  #about .about_description h3
    font-size: 20px
    line-height: 24px

  #about .about_description p
    font-size: 12px
    line-height: 17px

  .jCarousel_pagination a
    top: -93px

  .jcarousel-control-next
    right: 10px

  .jcarousel-control-prev
    left: 10px

  .jcarousel-wrapper
    width: 300px

  .jcarousel li
    width: 300px

  .testimonials_slider .testimonials_item
    padding-left: 70px

  .testimonials_content
    font-size: 15px
    line-height: 20px

  .team_block
    width: 320px

  .price_wrapper
    width: 290px

  .recent_posts
    width: 300px

  .view_all_posts
    width: 290px

  textarea
    margin-top: 30px
    min-height: 120px

  /* __________ Blog __________ */
  .blog_post_slider,
.blog_post_video,
.blog_post_img
    width: 290px
    height: 228px
    float: none
    margin: 0 0 10px

  .blog_post_title
    font-size: 20px
    line-height: 24px

  .blog_post_content
    font-size: 11px
    line-height: 17px

  .pagination li
    width: 30px
    height: 30px

  .pagination li a
    font-size: 14px
    line-height: 28px

  .single_blog_post_date
    width: 60px
    font-size: 9px
    margin-right: 15px

  .single_blog_post_date span
    font-size: 50px

  .single_blog_post_descr
    margin-left: 75px

  .single_blog_post_title
    font-size: 16px
    line-height: 21px

  .single_blog_post_content
    font-size: 12px
    line-height: 19px

  #comment_form textarea,
#comment_form input[type="text"]
    width: 100%

  #comment_form .contact_btn
    width: 100%

  /* __________ Single Blog Post __________ */
  /* __________ Sidebar __________ */
  .post_item_img_widget
    float: none
    margin-right: 0

  /* __________ Bootstrap Style __________ */
  .col-ss-1,
.col-ss-2,
.col-ss-3,
.col-ss-4,
.col-ss-5,
.col-ss-6,
.col-ss-7,
.col-ss-8,
.col-ss-9,
.col-ss-10,
.col-ss-11
    float: left

  .col-ss-12
    width: 100%

  .col-ss-11
    width: 91.66666666666666%

  .col-ss-10
    width: 83.33333333333334%

  .col-ss-9
    width: 75%

  .col-ss-8
    width: 66.66666666666666%

  .col-ss-7
    width: 58.333333333333336%

  .col-ss-6
    width: 50%

  .col-ss-5
    width: 41.66666666666667%

  .col-ss-4
    width: 33.33333333333333%

  .col-ss-3
    width: 25%

  .col-ss-2
    width: 16.666666666666664%

  .col-ss-1
    width: 8.333333333333332%

