.shared li
  display: inline-block
  margin: 0 7px 10px 0

.shared li a
  display: block
  width: 50px
  height: 50px
  padding: 1px
  border: 1px solid #e9e9e9
  text-align: center
  line-height: 46px
  font-size: 23px
  color: #ccc
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out
  -webkit-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out

.shared li a:hover
  padding: 0
  color: #333
  border: 2px solid #242424