.social a
  display: inline-block
  margin: 0 0 0 7px
  width: 50px
  height: 50px
  border-radius: 50%
  text-align: center
  line-height: 48px
  font-size: 23px
  color: #333
  background-color: #fff
  &:hover
    color: white

a.twitter:hover
  background-color: #32CDFB

a.facebook:hover
  background-color: #3B5898

a.g_plus:hover
  background-color: #D64837