.social a
  display: inline-block
  margin: 0 0 0 7px
  width: 50px
  height: 50px
  border-radius: 50%
  text-align: center
  line-height: 48px
  font-size: 23px
  color: #333
  background-color: #fff

a.twitter:hover
  background-color: #2dc5eb

a.facebook:hover
  background-color: #4d72bf

a.g_plus:hover
  background-color: #e5683c

a.dribbble:hover
  background-color: #e4508a