.testimonials_slider
  overflow: visible
  margin-top: 23px
  background-repeat: no-repeat

.testimonials_slider .testimonials_item

.testimonials_content
  padding-bottom: 33px
  line-height: 32px
  font-size: 22px
  color: #333

.testimonials_author
  font-size: 14px

.testimonials_author b
  font-weight: 900
  color: red

#news
  padding: 75px 0 50px

.testimonials
  margin-bottom: 77px

.testim_content
  font-weight: 300
  line-height: 38px
  font-size: 26px
  color: #333

.testim_author
  padding-top: 46px
  font-weight: 300
  font-size: 16px
  color: #666

.testim_author b
  font-weight: 500
  color: #333